services:
  web:
    build: .
    container_name: digitaljamath_web
    command: gunicorn --bind 0.0.0.0:8000 digitaljamath.wsgi:application
    volumes:
      - .:/app
      - static_files:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    environment:
      - DATABASE_HOST=db
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0

  db:
    image: postgres:16-alpine
    container_name: digitaljamath_db
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${DATABASE_NAME:-digitaljamath_db}
      - POSTGRES_USER=${DATABASE_USER:-postgres}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD:-password}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: digitaljamath_redis
    ports:
      - "6379:6379"

  frontend:
    build: ./frontend
    container_name: digitaljamath_frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://web:8000
    depends_on:
      - web

volumes:
  postgres_data:
  static_files:
