services:
  db:
    image: postgres:16-alpine
    container_name: mizan_db
    environment:
      - POSTGRES_DB=project_mizan_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: mizan_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
